/*Global settings*/
* {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: arial, sans-serif;;
	line-height: 1.4em;
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	background-color: #fff;
	color: #000;
	font-weight: 300;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*Header*/
header {
	width: 100%;
	height: 60px;
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,.2);
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,.2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: flex;
	align-items: center;
	z-index: 1;
}
header .row {height: 60px;}
.header_logo {
	height: 40px;
	width: auto;
	justify-content: center;
	display: flex;
}
.header_in {
	display: flex;
	justify-content: flex-end;
}
.header_btn_bg {
	background-color: #2692b7;
	margin-left: 15px;
	border: none;
	height: 35px;
	border-radius: 35px;
	min-width: 120px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	padding: 0 20px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.header_btn_bg:hover {
	background-color: #03608a;
}
.header_btn_border {
	background-color: #fff;
	border: 2px solid #2692b7;
	color: #2692b7;
	margin-left: 15px;
	height: 35px;
	border-radius: 35px;
	min-width: 120px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	padding: 0 20px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.header_btn_border:hover {
	background-color: #fff;
	border: 2px solid #03608a;
	color: #03608a;
}
/*Main App*/
#app {
	margin: 60px auto 0;
}

/*Home*/
.home {
	text-align: center;
}
.mainContainer {
	height: calc(100vh - 60px);
	display: flex;
	align-items: center;
}
.mainContainer h1 {
	color: #2692b7;
	margin-top: 0;
}
.mainContainer p {
	font-size: 20px;
}
.secondContainer {
	height: calc(100vh - 60px);
	display: flex;
	align-items: center;
	background-color: rgba(0,0,0,.05);
}
.secondContainer h2 {
	color: #2692b7;
	margin-top: 0;
}
.secondContainer .second_title {
	margin-top: 50px;
}

/*Popup*/
.modal_mask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.modal_show {
	opacity: 1;
	visibility: visible;
}
.modal_container {
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.modal_title {
	font-size: 20px;
	font-weight: 600;
	margin-top: 0;
}
.modal_form {}
.modal_input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	margin: 20px 0;
	min-width: 250px;
}
.modal_form button {margin-left: 0;}
.modal_subtitle {
	font-size: 14px;
	margin-bottom: 0;
}
.modal_link {
	font-size: 12px;
	color: #FF3333;
	margin: 0;
	cursor: pointer;
}
.user_container {
	text-align: right;
}
.user_log {
	cursor: pointer;
}
.user_log:hover {
	color: rgba(0,0,0,.6);
}
.user_logout {
	font-size: 12px;
	color: red;
	cursor: pointer;
}
/*Proyects*/
.proyect_title {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.proyect_container {
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.proyect_container:hover {
	background-color: rgba(0,0,0,.03);
}
.proyect_name {
	font-size: 14px;
	margin: 0;
}
.proyect_count {
	font-size: 12px;
	color: rgba(0,0,0,.4);
	margin: 0 0 0 5px;
	font-weight: 600;
}
.proyect_active {
	background-color: rgba(0,0,0,.06);
}
.board_add {
	display: flex;
	align-items: center;
	padding: 10px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	border-top: 1px solid rgba(0,0,0,.1);
	margin-top: 20px;
	cursor: pointer;
	margin-top: 20px;
}
.board_add:hover {
	background-color: rgba(0,0,0,.03);
}
.board_addIcon {
	width: 15px;
	height: 15px;
	background: url('../img/add.svg') no-repeat center;
	background-size: 15px 15px;
	display: block;
	margin-right: 10px;
}
.board_addInfo {
	margin: 0;
}
.task_container {
	display: flex;
	align-items: center;
	padding: 15px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	cursor: pointer;
}
.task_container:hover {
	background-color: rgba(0,0,0,.03);
}
.task_check {
	height: 20px;
	width: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 50%;
}
.task_info {
	font-size: 18px;
	margin: 0 0 0 10px;
}
.addTask_container {
	width: 100%;
	max-width: 400px;
	margin-top: 15px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.addTask_input {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.3);
	font-size: 14px;
}
.addTask_btn {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}
.addTask_btn_cancell {
	background-color: #d12929;
	margin-left: 15px;
	border: none;
	height: 35px;
	border-radius: 35px;
	min-width: 120px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	padding: 0 20px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.addTask_btn_cancell:hover {
	background-color: #ff3f3f;
}
.addTask_btn_add {
	background-color: #2692b7;
	margin-left: 15px;
	border: none;
	height: 35px;
	border-radius: 35px;
	min-width: 120px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	padding: 0 20px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.addTask_btn_add:hover {
	background-color: #03608a;
}

.addProyect_container {
	width: 100%;
	max-width: 400px;
	margin-top: 15px;
	padding: 15px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.addProyect_input {
	width: 100%;
	height: 40px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.3);
	font-size: 14px;
}
.addProyect_btn {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}
.addProyect_btn_cancell {
	background-color: #d12929;
	margin-left: 15px;
	border: none;
	height: 35px;
	border-radius: 35px;
	min-width: 120px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	padding: 0 20px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.addProyect_btn_cancell:hover {
	background-color: #ff3f3f;
}
.addProyect_btn_add {
	background-color: #2692b7;
	margin-left: 15px;
	border: none;
	height: 35px;
	border-radius: 35px;
	min-width: 120px;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	padding: 0 20px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.addProyect_btn_add:hover {
	background-color: #03608a;
}

.show_add {
	opacity: 1;
	visibility: visible;
}