<template>
	<div class="board">
		<header>
			<div class="container">
				<div class="row align-items-center">
					<div class="col">
						<img class="header_logo" src="../assets/img/checklist.svg" />
					</div>
					<div class="col">
						<div class="header_in">
							<div class="user_container">
								<div class="user_log">{{ username }}</div>
								<div class="user_logout" @click="clearSession">Cerrar sesion</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<p class="proyect_title">Proyectos</p>
					<div class="proyect_container proyect_active">
						<p class="proyect_name">Nombre del proyecto</p>
						<p class="proyect_count">4</p>
					</div>
					<div class="proyect_container">
						<p class="proyect_name">Nombre del proyecto</p>
						<p class="proyect_count">6</p>
					</div>
					<div class="proyect_container">
						<p class="proyect_name">Nombre del proyecto</p>
						<p class="proyect_count">2</p>
					</div>
					<div class="board_add" id="add_proyect">
						<div class="board_addIcon"></div>
						<p class="board_addInfo">Agregar Proyecto</p>
					</div>
					<div class="addProyect_container">
						<input class="addProyect_input" type="text" placeholder="Nombre del proyecto">
						<div class="addProyect_btn">
							<button class="addProyect_btn_cancell">Cancelar</button>
							<button class="addProyect_btn_add">Agregar Proyecto</button>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<p>Tareas pendientes por hacer</p>
					<div class="task_container">
						<input class="task_check" type="checkbox" />
    					<p class="task_info">Tarea pendiente</p>
					</div>
					<div class="task_container">
						<input class="task_check" type="checkbox" />
    					<p class="task_info">Tarea pendiente</p>
					</div>
					<div class="task_container">
						<input class="task_check" type="checkbox" />
    					<p class="task_info">Tarea pendiente</p>
					</div>
					<div class="board_add" id="add_task">
						<div class="board_addIcon"></div>
						<p class="board_addInfo">Agregar Proyecto</p>
					</div>
					<div class="addTask_container">
						<input class="addTask_input" type="text" placeholder="Agregar Tarea...">
						<div class="addTask_btn">
							<button class="addTask_btn_cancell">Cancelar</button>
							<button class="addTask_btn_add">Agregar Tarea</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import router from '../router'
export default {
	name: 'Board',
	data() {
		return {
			username: 'Usuario'
		}
	},
	created() {
		this.username = localStorage.getItem('name')
	},
	methods: {
		clearSession: function () {
			localStorage.clear()
			router.push({ name: "Home" })
		}
	}
}
</script>