<template>
	<div class="home">
		<header>
			<div class="container">
				<div class="row align-items-center">
					<div class="col">
						<img class="header_logo" src="../assets/img/checklist.svg" />
					</div>
					<div class="col">
						<div class="header_in">
							<button class="header_btn_border" @click="handleLogin">Ingresar</button>
							<button class="header_btn_bg" @click="handleRegister">Registrarse</button>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="mainContainer">
			<div class="container">
				<h1>{{ msg }}</h1>
				<p>Del trabajo al juego, TQH es la forma<br>más fácil de hacer las cosas todos los días.</p>
				<button class="header_btn_bg" @click="handleRegister">Comienza ahora es gratis</button>
			</div>
		</div>
		<div class="secondContainer">
			<div class="container">
				<h2>Organiza tu vida</h2>
				<p>La vida puede ser abrumadora, pero no tiene por qué ser así.<br>TQH te permite hacerle seguimiento a todo en un solo lugar<br>para que puedas lograr tus objetivos y disfrutar de mayor tranquilidad mientras lo haces.</p>
				<h2 class="second_title">Despreocúpate de olvidar cosas de nuevo</h2>
				<p>Deja que TQH recuerde todo por ti.<br>Puedes sacar las cosas de tu cabeza y ponerlas en tu lista de tareas<br>en cualquier momento y desde cualquier lugar.</p>
				<button class="header_btn_bg" @click="handleRegister">Registrate es gratis</button>
			</div>
		</div>
		<div id="login" class="modal_mask" @click="handleLogin" v-bind:class="{modal_show: isActiveLogin}">
			<div class="modal_container" @click.stop>
				<p class="modal_title">Iniciar Sesion</p>
				<form class="modal_form" @submit.prevent="enterLogin">
					<input v-model="userInput" class="modal_input" type="text" name="user" id="user" placeholder="Usuario">
					<input v-model="passInput" class="modal_input" type="password" name="pass" id="pass" placeholder="Contraseña">
					<button class="header_btn_bg">Iniciar Sesion</button>
				</form>
				<p class="modal_subtitle">¿No tienes cuenta?</p>
				<p class="modal_link" @click="registerOnLogin">Regístrate en segundos</p>
			</div>
		</div>
		<div id="register" class="modal_mask" @click="handleRegister" v-bind:class="{modal_show: isActiveRegister}">
			<div class="modal_container" @click.stop>
				<p class="modal_title">Registrate gratis y en segundos</p>
				<form class="modal_form" @submit.prevent="enterRegister">
					<input v-model="nameRegister" class="modal_input" type="text" name="name_register" id="name_register" placeholder="Nombre">
					<input v-model="userRegister" class="modal_input" type="text" name="user_register" id="user_register" placeholder="Usuario">
					<input v-model="emailRegister" class="modal_input" type="text" name="email_register" id="email_register" placeholder="Email">
					<input v-model="passRegister" class="modal_input" type="password" name="pass_register" id="pass_register" placeholder="Contraseña">
					<button class="header_btn_bg">Registrarte</button>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'
	import router from '../router'

	export default {
		name: 'Home',
		data () {
			return {
				isActiveLogin: false,
				isActiveRegister: false,
				userInput: '',
				passInput: '',
				nameRegister: '',
				userRegister: '',
				emailRegister: '',
				passRegister: '',
				msg: 'Tareas que hacer'
			}
		},
		methods: {
			handleLogin: function () {
				this.isActiveLogin = !this.isActiveLogin;
			},
			handleRegister: function () {
				this.isActiveRegister = !this.isActiveRegister;
			},
			registerOnLogin: function () {
				this.isActiveRegister = !this.isActiveRegister;
				this.isActiveLogin = !this.isActiveLogin;
			},
			enterLogin: function () {
				axios.get('//14001829.000webhostapp.com/info/ajaxfile.php')
				.then((resp) => {
					var counter = 0,
						user = this.userInput,
						pass = this.passInput;
					resp.data.forEach(function(element) {
						if(user === resp.data[counter].user && pass === resp.data[counter].password) {
							localStorage.setItem('id', resp.data[counter].id);
							localStorage.setItem('name', resp.data[counter].name);
							localStorage.setItem('auth', true);
							router.push({ name: "Board" });
						} else {
							console.log('error');
						}
						counter++;
					});
				})
				.catch((err) => {
					console.log(err)
				})
			},
			enterRegister: function () {
				console.log(this.nameRegister, this.userRegister, this.emailRegister, this.passRegister);
			}
		}
	}
</script>